<html>
  <head>
    <title>Project Name</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body bgcolor="cyan">
    <center>
      <h2>Red Wedding restaurant Screen</h2>
      <br>
      <h3>
        {{data}}
      </h3>
        <center>
          <script src="src/home.js"></script>
  </body>
</html>


